{cover_enabled, true}.
{cover_print_enabled, true}.
{port_envs, [{"linux", "LDFLAGS", "$LDFLAGS -ldns_sd"},
	     {"win32", "CFLAGS", "$CFLAGS /I \"%BONJOUR_SDK_HOME%\\Include\""},
	     {"win32", "LDFLAGS", "$LDFLAGS ws2_32.lib"
	      " \"%BONJOUR_SDK_HOME%\\lib\\Win32\\dnssd.lib\""}
	    ]}.
{erl_opts, [debug_info,
	    {platform_define, "(R14|R15)", 'warnings_as_errors'},
	    {platform_define, "(linux|bsd)", 'AVAHI_COMPAT_NOWARN'}]}.
{edoc_opts, [{overview, "overview.edoc"}, {dir, "doc"}]}.
